<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/successfullySignup.css">
    <title>Sign up successfully</title>
</head>
<body>
    <div class="square">
        <div class="container">
            <img src="/images/undraw_chore_list_re_2lq8.svg" alt="check list">
            <div class="content">
                <p class="messageSuccess">Account created successfully. Sign in to continue.</p>
                <button type="submit" onclick="window.location.href='/templates/signIn.html'"  class="btn-sign-up-successfully">Sign in</button>
            </div>
        </div>   

    </div>
    
</body>
</html>